{
    "ankiweb_id": "{{ ankiweb_id }}",
    "homepage": "{{ github_page }}",
    "min_point_version": {{ min_point_version }},
    {%- if max_point_version %}"max_point_version": {{ max_point_version }},{%- endif %}
    "name": "{{ project_name }}",
    "package": "{{ package_name }}",
    "support_channels": {
        "forums": "{{ forums_page }}",
        "github": "{{ github_page }}/issues"
    }
}