exclude: ".venv|vendor|build"
default_stages: [pre-commit]

repos:
    - repo: builtin
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-json
            exclude: "(.vscode(.dist)?/.*|tsconfig.json)"
          - id: check-yaml
          - id: check-toml
          - id: check-case-conflict
          - id: check-executables-have-shebangs
          - id: mixed-line-ending
          - id: detect-private-key
    - repo: local
      hooks:
          - id: mypy
            name: mypy
            entry: just mypy --
            language: system
            types: [python]
          - id: ruff-format
            name: ruff-format
            entry: just ruff
            language: system
            types: [python]
          - id: ruff-check
            name: ruff-check
            entry: just ruff-check
            language: system
            types: [python]
          - id: dprint
            name: dprint
            entry: just dprint
            language: system
          - id: ts-check
            name: ts-check
            entry: just ts-check
            language: system
            types_or: [javascript, ts, svelte]
          - id: proto-check
            name: proto-check
            entry: just proto-check
            language: system
            types: [proto]

ci:
    autoupdate_schedule: weekly
    skip: []
    submodules: false
