# This is used to constrain Qt versions to the ones used in Anki builds to avoid regressions in newer versions.
# See https://github.com/ankitects/anki/blob/main/python/requirements.qt6_6.in
pyqt6==6.6.1
pyqt6-qt6==6.6.2
pyqt6-webengine==6.6.0
pyqt6-webengine-qt6==6.6.2
pyqt6_sip==13.6.0
